*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* squadra */

#squadra{
background-color: black;
font-size: 20px;
padding-top: 40px;
color: white;
list-style: none;
text-align: center;
}
.tua_posizione{
  background-color: black;
  font-size: 20px;
  padding-top: 20px;
  color: white;
}
